# =========================
# Binaries
# =========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.app

# Go build output
/bin/
/build/
/dist/

# =========================
# Go Modules
# =========================
vendor/
go.work.sum

# 如果你使用 go work
go.work

# =========================
# Test & Coverage
# =========================
coverage.out
*.coverprofile
*.cov

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Files
# =========================
.env
.env.*
*.local

# =========================
# IDEs & Editors
# =========================

# VS Code
.vscode/

# GoLand / IntelliJ
.idea/

# Vim
*.swp
*.swo

# Mac
.DS_Store

# =========================
# Temporary Files
# =========================
tmp/
temp/

# =========================
# Debug
# =========================
__debug_bin